<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .b{
            color:aqua

        }

        .text{
            color: rgb(179, 255, 0);
            font-size: larger;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 900;
            background-color: azure;
        }
        .cls{
            margin-left:50px;
        }


    </style>
</head>
<body>
    <img class ="cls" src="https://media.istockphoto.com/photos/university-sign-in-fall-picture-id182240679?k=20&m=182240679&s=612x612&w=0&h=UE3uLcSegnrQ9OpqvoEU5IGieBy8tpuPToRoriPIi0g=">
     <h1 class="text cls">welcome to sidhartha university</h1>
     <h3 class="cls">The world class university</h3>
     <button type="button" class="cls"><a href="/insert">fill admission application</a></button>




    
</body>
</html>